body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body > * {
  padding: 2vh 5vw 1em;
}

section.banner {
  position: relative;
  background-color: rgb(52, 46, 46);
  color: white;
}
section.banner .menuBar {
  display: none;
}
section.banner .nav {
  display: flex;
  transform: scaleY(1);
}
section.banner nav {
  display: flex;
  justify-content: space-between;
}
section.banner .logo svg {
  width: 80px;
}
section.banner .nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
}
section.banner .nav ul li {
  background-color: gray;
  padding: 8px 16px;
}
section.banner .nav ul li a {
  text-decoration: none;
  color: white;
}
section.banner .nav ul li.active a {
  color: rgb(0, 153, 229) !important;
}
section.banner .nav ul li.active {
  background-color: white;
}
section.banner .nav ul li:hover:not(section.banner .nav ul li.active) {
  background-color: rgb(113, 108, 108);
}
section.banner .heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section.banner .heading img {
  justify-self: center;
  height: 140px;
}
section.banner .slider {
  display: flex;
  place-content: center;
}
section.banner .slider .button {
  cursor: pointer;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 50%;
}
section.banner .slider .button.left {
  left: 1em;
}
section.banner .slider .button.right {
  right: 1em;
}
section.banner .slider .button svg {
  fill: rgb(162, 157, 157);
}
section.banner .positionIndicator {
  display: flex;
  gap: 5px;
}
section.banner .positionIndicator div {
  background-color: rgb(91, 89, 89);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
section.banner .positionIndicator div.active {
  background-color: white;
}

section.catelog {
  background-color: rgb(221, 212, 194);
  display: flex;
  align-items: center;
  gap: 5em;
}
section.catelog .image img {
  width: 15em;
  height: 15em;
}
section.catelog .details h4 {
  margin: 0;
}
section.catelog .details p {
  margin: 10px 0;
}
section.catelog .details p span {
  color: rgb(0, 75, 113);
}
section.catelog .details button {
  border: 0;
  background-color: rgb(0, 153, 229);
  padding: 8px 32px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
section.catelog .details button:hover {
  background-color: rgb(66, 182, 240);
  color: rgb(51, 51, 238);
}

section.testimony {
  background-color: rgb(0, 153, 229);
  color: white;
  text-align: center;
}
section.testimony .testimonies {
  color: black;
  display: flex;
  gap: 2em;
}
section.testimony .testimonies .testimonyCard {
  display: grid;
  background-color: white;
  box-shadow: 0px 0px 17px 5px gray;
  border-radius: 5px;
  padding: 12px 24px;
  text-align: justify;
}
section.testimony .testimonies .testimonyCard .avatar {
  justify-self: center;
  display: flex;
  place-content: center;
  height: 80px;
  width: 80px;
  overflow: hidden;
}
section.testimony .testimonies .testimonyCard .avatar img {
  height: 100%;
}
section.testimony .testimonies .testimonyCard span {
  display: block;
  font-weight: 800;
  text-align: center;
}

section.footer {
  background-color: rgb(52, 46, 46);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
  color: white;
}
section.footer .form input, section.footer .form textarea {
  margin-bottom: 10px;
  border: none;
  background-color: rgb(221, 212, 194);
  border-radius: 5px;
  padding: 5px 15px;
}
section.footer .form textarea {
  height: 4em;
  resize: none;
  width: 90%;
}
section.footer .form button {
  border: 0;
  background-color: rgb(0, 153, 229);
  padding: 8px 32px;
  border-radius: 5px;
  color: white;
  display: block;
  cursor: pointer;
}
section.footer .form button:hover {
  background-color: rgb(66, 182, 240);
  color: rgb(51, 51, 238);
}
section.footer .siteMap ul {
  padding-left: 15px;
  list-style: circle;
}
section.footer .siteMap ul li {
  margin-bottom: 5px;
  cursor: pointer;
}
section.footer div.contacts .logo img {
  width: 80px;
}
section.footer div.contacts .contact div {
  margin-bottom: 5px;
  display: flex;
  gap: 10px;
}
section.footer div.contacts svg {
  width: 24px;
}

section.copyright {
  background-color: rgb(105, 96, 96);
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: smaller;
}
section.copyright svg {
  width: 12px;
}

@media (max-width: 720px) {
  section.testimony .testimonies {
    display: grid;
  }
  section.footer {
    display: block;
  }
  #menu {
    position: absolute;
    top: 3.5em;
    right: 3em;
    transform-origin: top;
    transform: scaleY(0);
    transition: all 0.3s ease-in-out;
  }
  #menu ul {
    display: grid;
  }
  section.banner .menuBar {
    position: absolute;
    top: 2em;
    right: 3em;
    background-color: gray;
    padding: 8px 16px;
    width: 87px;
    display: flex;
    justify-content: space-between;
  }
  section.banner .menuBar svg {
    width: 12px;
  }
}
@media (max-width: 600px) {
  section.catelog {
    display: grid;
  }
}/*# sourceMappingURL=style.css.map */